body{
    height: 100%;
}
.box1{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    background-color: blue; 
    border-radius: 20px;
    position: relative;
    left: 600px;
    top: 200px;
    animation: 2s bounce ;
}   
.box2{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    background-color: blue; 
    border-radius: 20px;
    position: relative;
    left: 600px;
    top: 450px;
}
.box3{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    background-color: blue; 
    border-radius: 20px;
    position: relative;

    left: 600px;
    top: 500px; 
}